
    td {
        width: 40px;
        height: 20px;
    }
    table, td {
        border: 5px solid black;
    }

    .premier {
        caption-side: top;
        border-collapse: separate;
        empty-cells: hide;

    }
    .deuxieme {
        caption-side: bottom;
        border-collapse: separate;
        empty-cells: show;
    }
    .troisieme {
        caption-side: top;
        border-collapse: collapse;
        empty-cells: show;
    }
    .quatrieme {
        caption-side: bottom;
        boder-collapse: collapse;
        empty-cells: hide;
    }
    tr:nth-child(even) {
        text-transform: capitalize;
    }
    tr:nth-child(odd) {
        background-color: cadetblue;
    }